body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 35vh;
    width: 600px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10%;
}
.child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: none;
}